In [16]:
import pandas as pd
import sqlite3

from urllib3.util.proxy import connection_requires_http_tunnel

with sqlite3.connect('chinook.db') as connection:
    data=pd.read_sql("Select * from customers", con=connection)
data.head(10)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3
3,4,Bjørn,Hansen,None,Ullevålsveien 14,Oslo,None,Norway,0171,+47 22 44 22 22,None,bjorn.hansen@yahoo.no,4
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,None,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com,4
5,6,Helena,Holý,None,Rilská 3174/6,Prague,None,Czech Republic,14300,+420 2 4177 0449,None,hholy@gmail.com,5
6,7,Astrid,Gruber,None,"Rotenturmstraße 4, 1010 Innere Stadt",Vienne,None,Austria,1010,+43 01 5134505,None,astrid.gruber@apple.at,5
7,8,Daan,Peeters,None,Grétrystraat 63,Brussels,None,Belgium,1000,+32 02 219 03 03,None,daan_peeters@apple.be,4
8,9,Kara,Nielsen,None,Sønder Boulevard 51,Copenhagen,None,Denmark,1720,+453 3331 9991,None,kara.nielsen@jubii.dk,4
9,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4

In [36]:
jsonfile=pd.read_json('iris.json')

jsonfile.shape

(150, 5)

In [37]:
jsonfile.dtypes

sepalLength    float64
sepalWidth     float64
petalLength    float64
petalWidth     float64
species         object
dtype: object

In [25]:
titanic=pd.read_excel('titanic.xlsx')
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [31]:
movies=pd.read_csv('movie.csv')
movies.sample(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1857,Black and White,Steven Spielberg,174.0,185.0,14000.0,212.0,Embeth Davidtz,14000.0,96067179.0,Biography|Drama|History,...,1273.0,English,USA,R,22000000.0,1993.0,795.0,8.9,1.85,41000
2351,Color,Michael Dowse,136.0,97.0,31.0,562.0,Michael Biehn,2000.0,6923891.0,Comedy|Drama|Romance,...,83.0,English,USA,R,23000000.0,2011.0,2000.0,6.3,2.35,0
4719,Color,Jean-Luc Godard,96.0,110.0,0.0,0.0,Anna Karina,710.0,NaN,Crime|Drama|Romance,...,74.0,French,France,Not Rated,300000.0,1965.0,257.0,7.7,2.35,2000
2199,Color,Edgar Wright,427.0,109.0,1000.0,24.0,Thomas Law,177.0,26003149.0,Action|Comedy|Sci-Fi,...,401.0,English,UK,R,20000000.0,2013.0,55.0,7.0,2.35,49000
2534,Color,Clare Kilner,46.0,101.0,6.0,258.0,Alexandra Holden,812.0,14108518.0,Comedy|Drama|Romance,...,95.0,English,USA,PG-13,16000000.0,2003.0,326.0,5.7,1.85,371
2202,Color,Jim Field Smith,180.0,104.0,14.0,756.0,Kim Shaw,2000.0,31584722.0,Comedy|Romance,...,131.0,English,USA,R,20000000.0,2010.0,934.0,6.4,2.35,0
3713,Color,Jeremy Saulnier,322.0,95.0,57.0,233.0,Mark Webber,727.0,3219029.0,Crime|Horror|Music|Thriller,...,125.0,English,USA,R,5000000.0,2015.0,442.0,7.1,2.35,10000
3125,Color,Jason Bateman,126.0,89.0,0.0,322.0,Philip Baker Hall,628.0,7764027.0,Comedy|Drama,...,119.0,English,USA,R,10000000.0,2013.0,497.0,6.7,2.35,0
340,Color,Joe Johnston,198.0,92.0,394.0,527.0,Trevor Morgan,693.0,181166115.0,Action|Adventure|Sci-Fi|Thriller,...,1236.0,English,USA,PG-13,93000000.0,2001.0,595.0,5.9,1.85,0
991,Color,Peter Webber,209.0,131.0,73.0,163.0,Stephen Walters,879.0,27667947.0,Crime|Drama|Thriller,...,392.0,English,UK,R,50000000.0,2007.0,184.0,6.2,2.35,3000

In [51]:
jsonfile=pd.read_json('iris.json')
newones=[column.lower() for column in jsonfile.columns ]
jsonfile.columns=newones
jsonfile.dtypes
a=jsonfile[['sepallength','sepalwidth']]
a

     sepallength  sepalwidth
0            5.1         3.5
1            4.9         3.0
2            4.7         3.2
3            4.6         3.1
4            5.0         3.6
..           ...         ...
145          6.7         3.0
146          6.3         2.5
147          6.5         3.0
148          6.2         3.4
149          5.9         3.0

[150 rows x 2 columns]

In [63]:
titanic=pd.read_excel('titanic.xlsx')
titanic[(titanic["Age"]>30)].sort_values(by=['Age'], ascending=True)
# a.
# titanic.dtypes

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
814,815,0,3,"Tomlin, Mr. Ernest Portage",male,30.5,0,0,364499,8.0500,NaN,S
767,768,0,3,"Mangan, Miss. Mary",female,30.5,0,0,364850,7.7500,NaN,Q
637,638,0,2,"Collyer, Mr. Harvey",male,31.0,1,1,C.A. 31921,26.2500,NaN,S
797,798,1,3,"Osman, Mrs. Mara",female,31.0,0,0,349244,8.6833,NaN,S
673,674,1,2,"Wilhelms, Mr. Charles",male,31.0,0,0,244270,13.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S

In [65]:
titanic.value_counts('Sex')

Sex
male      577
female    314
Name: count, dtype: int64

In [64]:
movies=pd.read_csv('movie.csv')
movies[(movies["duration"]>120)].sort_values(by=['duration'], ascending=True)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
1547,Color,Martin Scorsese,163.0,121.0,17000.0,245.0,Marc Anthony,12000.0,16640210.0,Drama|Thriller,...,382.0,English,USA,R,55000000.0,1999.0,368.0,6.8,2.35,0
964,Color,Clint Eastwood,76.0,121.0,16000.0,826.0,Mark Margolis,16000.0,50007168.0,Action|Crime|Drama|Thriller,...,142.0,English,USA,R,50000000.0,1997.0,1000.0,6.7,2.35,1000
1822,Color,Andy Tennant,92.0,121.0,72.0,343.0,Dougray Scott,1000.0,65703412.0,Comedy|Drama|Romance,...,345.0,English,USA,PG-13,26000000.0,1998.0,794.0,7.0,2.35,0
3408,Color,Guy Hamilton,136.0,121.0,82.0,189.0,Geoffrey Holder,581.0,35400000.0,Action|Adventure|Thriller,...,251.0,English,UK,PG,7000000.0,1973.0,547.0,6.8,1.66,0
163,Color,Rob Cohen,145.0,121.0,357.0,653.0,Joe Morton,820.0,31704416.0,Action|Adventure|Sci-Fi|Thriller,...,388.0,English,USA,PG-13,135000000.0,2005.0,780.0,5.0,2.35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3254,Color,Chatrichalerm Yukol,31.0,300.0,6.0,6.0,Chatchai Plengpanich,7.0,454255.0,Action|Adventure|Drama|History|War,...,47.0,Thai,Thailand,R,400000000.0,2001.0,6.0,6.6,1.85,124
1134,Color,Michael Cimino,102.0,325.0,517.0,678.0,Sam Waterston,12000.0,1500000.0,Adventure|Drama|Western,...,189.0,English,USA,R,44000000.0,1980.0,849.0,6.8,2.35,1000
1487,Color,Taylor Hackford,12.0,330.0,138.0,672.0,Jesse Borrego,848.0,4496583.0,Crime|Drama,...,129.0,English,USA,R,35000000.0,1993.0,674.0,8.0,1.66,6000
2436,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
1694,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [67]:
movies[(movies["duration"]>120)].sort_values(by=['duration'], ascending=True).sort_values(by=['director_facebook_likes'],ascending=False)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
97,Color,Christopher Nolan,642.0,148.0,22000.0,23000.0,Tom Hardy,29000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,...,2803.0,English,USA,PG-13,160000000.0,2010.0,27000.0,8.8,2.35,175000
96,Color,Christopher Nolan,712.0,169.0,22000.0,6000.0,Anne Hathaway,11000.0,187991439.0,Adventure|Drama|Sci-Fi,...,2725.0,English,USA,PG-13,165000000.0,2014.0,11000.0,8.6,2.35,349000
1222,Color,Christopher Nolan,341.0,130.0,22000.0,19000.0,Hugh Jackman,23000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,...,1100.0,English,USA,PG-13,40000000.0,2006.0,20000.0,8.5,2.35,49000
120,Color,Christopher Nolan,478.0,128.0,22000.0,11000.0,Liam Neeson,23000.0,205343774.0,Action|Adventure,...,2685.0,English,USA,PG-13,150000000.0,2005.0,14000.0,8.3,2.35,15000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3799,Color,NaN,2.0,199.0,NaN,505.0,Jonathan Crombie,662.0,NaN,Drama|Family,...,74.0,English,Canada,TV-G,NaN,NaN,517.0,8.4,1.33,0
3582,Color,NaN,10.0,240.0,NaN,334.0,Blake Ritson,805.0,NaN,Comedy|Drama|Romance,...,50.0,English,UK,NaN,NaN,NaN,432.0,8.2,1.78,0
2687,Color,NaN,9.0,286.0,NaN,527.0,Tom Hollander,857.0,NaN,Drama|History|Thriller,...,39.0,English,USA,NaN,NaN,NaN,555.0,7.9,1.78,733
2436,Color,NaN,108.0,334.0,NaN,30.0,Nora von Waldstätten,897.0,145118.0,Biography|Crime|Drama|Thriller,...,36.0,English,France,Not Rated,NaN,NaN,30.0,7.7,2.35,0
1694,Color,NaN,16.0,511.0,NaN,51.0,Ingvar Eggert Sigurðsson,147.0,NaN,Crime|Drama|Thriller,...,19.0,Icelandic,Iceland,NaN,NaN,NaN,63.0,8.2,16.00,0

In [84]:
jsonfile.select_dtypes('number').mean()

sepallength    5.843333
sepalwidth     3.057333
petallength    3.758000
petalwidth     1.199333
dtype: float64

In [85]:
jsonfile.select_dtypes('number').std()

sepallength    0.828066
sepalwidth     0.435866
petallength    1.765298
petalwidth     0.762238
dtype: float64

In [86]:
jsonfile.select_dtypes('number').median()

sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64

In [79]:
import numpy as np
titanic["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [ ]:
titanic["Age"].max()

In [77]:
titanic["Age"].min()

np.float64(0.42)

In [78]:
titanic["Age"].sum()

np.float64(21205.17)

In [92]:
movies['director_facebook_likes'].describe()

count     4814.000000
mean       691.014541
std       2832.954125
min          0.000000
25%          7.000000
50%         48.000000
75%        189.750000
max      23000.000000
Name: director_facebook_likes, dtype: float64